body {
    background-color: #a4a8a3;
    font-family: sans-serif ;
}
main {
    color: white;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    letter-spacing: 2px;
    color: #110d1d;

}
h2 {
    color: #000005;
}
nav div {
    float: left;
    background-color: #649acc;
    width: 220px;
    height: 30px;
    border: groove #649acc77;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 5px;
}
a {
    text-decoration: none;
    color: rgb(247, 242, 242);
}
a:hover {
    color: #242427;
}

article {
    clear: both;
}
section {
    padding: 10px;
}
#first {
    background-color:#649accb9; 
}
#second {
    background-color: #649accb9; 
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}